<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0" />
    <title>cts博客- @ViewBag.Title</title>
    @Styles.Render("~/content/css")
    <link href="~/Scripts/Admin/css/matrix-style.css" rel="stylesheet" />
</head>
<body>
    <div class="home">
        <div id="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>
