@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<style type="text/css">
    /*.navbar .navbar-header {
        text-align: center;
        display: inline-block;
    }*/
    .dropdown-menu li a:hover {
        color:#372d2d !important;
    }
    .active {
        font-weight:bold;
    }
</style>
<header id="header">
    <div id="head" class="parallax" parallax-speed="2">
        <h1 id="logo" class="text-center">
            <img class="img-circle" src="/Content/assets/images/guy.jpg" alt="">
            <span class="title">Hello CTS</span>
            <span class="tagline">
                Coding...<br>
                <a href="http://chi8708.cnblogs.com/" target="_blank">Other Blogs</a>
            </span>
        </h1>
    </div>
    <nav class="navbar navbar-default navbar-sticky navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>

            <div class="collapse navbar-collapse " id="navbar">
                <ul class="nav navbar-nav">
                    <li class="@(controller.Equals("home")?"active":"")"><a href="/">首页</a></li>
                    <li class="@(controller.Equals("article")?"active":"")"><a href="/Article">博客</a></li>
                    <li class="@(controller.Equals("about")?"active":"")"><a href="/About">关于</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">生活</a></li>
                            <li><a href="#">相册</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

