<header id="header">
    <div id="head" class="parallax" parallax-speed="2">
        <h1 id="logo" class="text-center">
            <img class="img-circle" src="/Content/assets/images/guy.jpg" alt="">
            <span class="title">Hello CTS</span>
            <span class="tagline">
                Coding...<br>
                <a href="http://chi8708.cnblogs.com/" target="_blank">Other Blogs</a>
            </span>
        </h1>
    </div>
    <nav class="navbar navbar-default navbar-sticky">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/Article">博客</a></li>
                    <li><a href="/Abount">关于</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">联系方式</a></li>
                            <li><a href="#">生活</a></li>
                            <li><a href="#">相册</a></li>
                        </ul>
                    </li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>

