
@{
    ViewBag.Title = "首页";
    Layout = "~/Areas/AdminConsole/Views/Shared/MainLayout.cshtml";
}

<div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="调至首页" class="tip-bottom"><i class="icon-home"></i> 首页</a></div>
</div>

<div class="container-fluid">
    <div class="quick-actions_homepage">
        欢迎
    </div>
</div>

