@model Blog.Entity.Mapping.Article
@{
    ViewBag.Title = Model.Title+"-明细";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section headers{
    <style type="text/css" >
        .navbar.stick {
            position:initial;
        }
        .share {
            float:left;
            padding: 50px 0px;
            width:40%;
        }
        span#jiathis_counter_16 {
            width: 36px !important;
        }
    </style> 
    }
<div class="container">

    <div class="row topspace">
        <div class="col-sm-12">
            <article class="post">
                <header class="entry-header">
                    <h1 class="entry-title">@Model.Title</h1>
                    <div class="entry-meta">
                        <span class="posted-on"><time class="entry-date published">@(((DateTime)Model.CreateTime).ToString("yyyy年MM月dd日"))</time><span  style="float:right;">人气:@(Model.Hit.HasValue ? Model.Hit.Value : 10)</span></span>
                    </div>
                </header>
                <div class="entry-content t-lr">
                    @Html.Raw(Model.Content)
                </div>
            </article><!-- #post-## -->
            <div class="share fl">
                <div class="jiathis_style">
                    <span class="jiathis_txt">分享到：</span>
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>

            </div>
        </div>
    </div> <!-- /row post  -->
</div>
@section scripts
    {
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
    }
